* Function Defining
* Positional & Keyword arguments in functions

In [1]:
num=54
if num%2==0:
    print('The number is even')
else:
    print('The number is odd')

The number is even

In [2]:
def even_odd(num):
    if num%2==0:
        print('Even')
    else:
        print('odd')

In [3]:
even_odd()           #here it gives error bcoz we need to define the number with function calling

TypeError: even_odd() missing 1 required positional argument: 'num'

In [4]:
even_odd(43)

odd

In [5]:
even_odd(88)

Even

In [6]:
# Print vs return

def Hello_world():
    print('Hello Welcome')

In [7]:
Hello_world()

Hello Welcome

In [8]:
val=Hello_world()

Hello Welcome

In [9]:
def Hello_world():
    return 'Hello_welcome'

In [10]:
Hello_world()

'Hello_welcome'

In [11]:
val=Hello_world()

In [12]:
print(val)

Hello_welcome

In [13]:
def add_num(num1,num2):
    return num1+num2

In [14]:
add_num(24,32)

56

In [15]:
val=add_num(32,65)

In [16]:
val

97

In [17]:
def hello(name,age=23):
    print('my name is {} and age is {}'.format(name,age))

In [18]:
# here name is positional argument, so we have to give the positional argument
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [19]:
# age is keywrod argument, it is like the key & value pair

hello('priti')

my name is priti and age is 23

In [20]:
def hello(name,age):
    print('my name is {} and age is {}'.format(name,age))

In [21]:
hello('priti')

# here the age is become a positional argument becoz we are defining the age value

TypeError: hello() missing 1 required positional argument: 'age'

In [22]:
hello('priti','23')

my name is priti and age is 23

In [23]:
# *args are positional arguments and **kwargs are keyword argument

In [24]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [25]:
hello('priti','kore',age=23,profile='ML Engineer')

('priti', 'kore')
{'age': 23, 'profile': 'ML Engineer'}

In [26]:
lst=['arati','nhavi']
dict_args={'age':24,'dob':1997}

In [27]:
hello(lst,dict_args)    # here it gives all value as positional argument

(['arati', 'nhavi'], {'age': 24, 'dob': 1997})
{}

In [28]:
hello(*lst,**dict_args)

('arati', 'nhavi')
{'age': 24, 'dob': 1997}

In [29]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [30]:
def sums(list1):
    even_sum=0
    odd_sum=0
    for i in list1:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [31]:
sums(list1)

(30, 25)

In [32]:
def school():
    for x in range(4):
        a=int(input("Enter the number 1: "))
        b=int(input("enter the number 2: "))
        print("My addition is : ",a+b)

In [33]:
def school():
    for x in range(4):
        a=int(input("Enter the number 1: "))
        b=int(input("enter the number 2: "))
        print("My addition is : ",a+b)
    print("________________")

for x1 in range(2):
    school()

Enter the number 1: 2
enter the number 2: 1
My addition is :  3
Enter the number 1: 3
enter the number 2: 2
My addition is :  5
Enter the number 1: 34
enter the number 2: 3
My addition is :  37
Enter the number 1: 34
enter the number 2: 23
My addition is :  57
________________
Enter the number 1: 2
enter the number 2: 23
My addition is :  25
Enter the number 1: 23
enter the number 2: 3
My addition is :  26
Enter the number 1: 23
enter the number 2: 3
My addition is :  26
Enter the number 1: 2
enter the number 2: 32
My addition is :  34
________________

In [34]:
def person(n):
    for x in range(n):
        print(x+1)

count=int(input("Enter the count: "))
person(count)

Enter the count: 2
1
2

In [35]:
## function without argument with return type
# using return type

def person():
    a=20
    b=34
    return b

In [36]:
# function with argument and with return type
def person(n):
    name=[]
    for x in range(n):
        nm=input("Enter the name: ")
        name.append(nm)
    return name

In [38]:
def school():
    print("welcome to school function....")
    stud=person(3)
    for x in stud:
        if x=="Sachin":
            print("He is cricketer")
        elif x=="Niraj":
            print("Javelian")
        else:
            print("Your are not sport person")

In [40]:
school()

welcome to school function....
Enter the name: Sachin
Enter the name: kirti
Enter the name: Niraj
He is cricketer
Your are not sport person
Javelian

In [41]:
# with return type

def school(n):
    name=[]
    for x in range(n):
        nm=input("Enter the name: ")
        name.append(nm)
    return name
def marks():
    details=[]
    marks=[]
    name=school(3)
    print("Welcome to marks function: ")
    for x in name:
        print("Hi my name is ",x)
        details.append(x)
        details.append("My marks")
        for x1 in range(5):
            m=int(input("Enter the marks: "))
            marks.append(m)
            details.append(m)
        details.append("Total MArks: ")
        total=sum(marks)
        details.append(total)
        details.append("Average: ")
        avg=total/len(marks)
        details.append(avg)
        print("My marks are: ", details)
        marks.clear()
marks()

Enter the name: priti
Enter the name: kirti
Enter the name: yash
Welcome to marks function:
Hi my name is  priti
Enter the marks: 99
Enter the marks: 23
Enter the marks: 34
Enter the marks: 32
Enter the marks: 32
My marks are:  ['priti', 'My marks', 99, 23, 34, 32, 32, 'Total MArks: ', 220, 'Average: ', 44.0]
Hi my name is  kirti
Enter the marks: 32
Enter the marks: 343
Enter the marks: 3
Enter the marks: 365
Enter the marks: 65
My marks are:  ['priti', 'My marks', 99, 23, 34, 32, 32, 'Total MArks: ', 220, 'Average: ', 44.0, 'kirti', 'My marks', 32, 343, 3, 365, 65, 'Total MArks: ', 808, 'Average: ', 161.6]
Hi my name is  yash
Enter the marks: 65
Enter the marks: 45
Enter the marks: 45
Enter the marks: 4545
Enter the marks: 45
My marks are:  ['priti', 'My marks', 99, 23, 34, 32, 32, 'Total MArks: ', 220, 'Average: ', 44.0, 'kirti', 'My marks', 32, 343, 3, 365, 65, 'Total MArks: ', 808, 'Average: ', 161.6, 'yash', 'My marks', 65, 45, 45, 4545, 45, 'Total MArks: ', 4745, 'Average: ', 949.0]